<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"
            integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>

    <title>Micro</title>
</head>

<style type="text/css">
    .graph-container {
        max-height: 450px;
        margin-right: 20px;
    }

    .graph-div {
        height: 100%;
    }

    .graph-canvas {
        max-height: 400px;
    }

    .control-panel {
        max-height: 600px;
    }
</style>

<body style="background-color: #f2f2f2; font-family: Trebuchet MS, Helvetica, sans-serif;">
<div class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="home">Micreau Management</a>
        <div class="container-fluid" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="login">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--PH GRAPH-->
<div class="container-fluid" align="center">
    <div class="row" style="margin-top: 10px;" align="center">
        <div class="card col-sm-6 mx-auto bg-info" align="center">
            <div class="card-body">
                <h5 class="card-title text-white">Monitor</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Current pH</h6>
                                <p class="card-text" id="current-ph">Test</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Current temperature</h6>
                                <p class="card-text" id="current-temp">Test</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid" align="center" style="margin-top: 10px; margin-left: 1px;">
        <div class="card col-sm-7 graph-container">
            <div class="card-body">
                <h5 class="card-title" align="center">PH graph</h5>
                <div class="graph-div">
                    <canvas class="graph-canvas" id="ph-graph" width="auto"></canvas>
                    <script type="text/javascript">
                        var ctx = document.getElementById("ph-graph").getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [0, 1, 2, 3, 4, 5],
                                datasets: [{
                                    fill: false,
                                    label: 'PH level',
                                    data: [12, 19, 3, 5, 2, 3],
                                    backgroundColor: [
                                        'rgba(255, 255, 255, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(0, 123, 255, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="card col-sm-4 control-panel">
            <div class="card-body ">
                <h4 class="card-title" align="center">Control PH</h4>
            </div>
        </div>
    </div>


    <!--TEMPERATURE GRAPH-->
    <div class="row container-fluid" style="margin-top:10px; margin-left: 1px;">
        <div class="card col-sm-7 graph-container">
            <div class="card-body">
                <div class="col-sm-12">
                    <h5 align="center" class="card-title">Temperature graph</h5>
                    <div class="graph-div">
                        <canvas class="graph-canvas" id="t-graph" width="auto"></canvas>
                        <script type="text/javascript">
                            var ctx = document.getElementById("t-graph").getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [0, 1, 2, 3, 4, 5],
                                    datasets: [{
                                        label: 'Temperature °C',
                                        fill: false,
                                        data: [-12, -19, -3, 5, -2, 3],
                                        backgroundColor: [
                                            'rgba(255, 255, 255, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(0, 123, 255, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: false
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-sm-4 control-panel">
            <div class="card-body ">
                <h4 class="card-title" align="center">Control Temps</h4>
            </div>
        </div>
    </div>


    <!--<div style="margin-right: 30px; margin-top: 30px;" class="dashboard col-lg-4" id="dashboard">-->
    <!--<h5 align="center" style="position: relative; top: 10px;">Dashboard</h5>-->

    <!--<div class="displaytab">-->
    <!--<div style="height: 160px; width: auto;">-->
    <!--<label style="position: relative; margin-top: 5px;">Current PH</label>-->
    <!--</div>-->

    <!--<button style="margin-top: 30px; margin-left: 20px;" class="btn btn-primary" id="spikePh">Spike PH</button>-->
    <!--<button style="margin-top: 30px; margin-left: 20px;" class="btn btn-primary" id="dropPh">Drop PH</button>-->
    <!--</div>-->

    <!--<div class="displaytab">-->
    <!--<div style="height: 160px; width: auto;">-->
    <!--<label style="position: relative; margin-top: 5px;">Current Temperature</label>-->
    <!--</div>-->

    <!--<button style="margin-top: 30px; margin-left: 20px;" class="btn btn-primary" id="spikeT">Spike Temperature-->
    <!--</button>-->
    <!--<button style="margin-top: 30px; margin-left: 20px;" class="btn btn-primary" id="dropT">Drop Temperature-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
</body>
</html>