<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"
            integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>

    <title>Micro</title>
</head>

<style type="text/css">
    .graph-container {
        max-height: 450px;
        margin-right: 20px;
    }

    .graph-div {
        height: 100%;
    }

    .graph-canvas {
        max-height: 400px;
    }

    .control-panel {
        max-height: 600px;
    }
</style>

<body style="background-color: #f2f2f2; font-family: Trebuchet MS, Helvetica, sans-serif;">
<div class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="home">Micreau Management</a>
        <div class="container-fluid" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="login">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid to-show" style="display: none" align="center">
    <div class="row container-fluid" align="center" style="margin-top: 10px; margin-left: 1px;">
        <div class="card col-sm-7 graph-container">
            <div class="card-body">
                <h5 class="card-title" align="center">PH graph</h5>
                <div class="graph-div">
                    <canvas class="graph-canvas" id="ph-graph" width="auto"></canvas>
                    <script type="text/javascript">
                        var ctx = document.getElementById("ph-graph").getContext('2d');
                        var phChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [{
                                    fill: false,
                                    label: 'PH level',
                                    data: [],
                                    backgroundColor: [
                                        'rgba(255, 255, 255, 0.2)'
                                    ],
                                    pointBorderColor: [],
                                    borderColor: [
                                        'rgba(0, 123, 255, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            suggestedMin: 0,
                                            suggestedMax: 14
                                        },
                                        gridLines: {
                                            drawBorder: false
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="card col-sm-4 control-panel">
            <div class="card-body ">
                <h4 class="card-title" align="center">Control PH</h4>
                <a class="btn btn btn-outline-primary col-sm-12" id="spike-ph">Abnormal pH</a>
                <div style="margin-top: 20px;" class="col-sm-12">
	                <div id="ph-box" class="card">
	                    <div class="card-body">
	                        <h6 class="card-title">Current pH</h6>
	                        <h6 class="card-text" id="current-ph">Placeholder</h6>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid" style="margin-top:10px; margin-left: 1px;">
        <div class="card col-sm-7 graph-container">
            <div class="card-body">
                <div class="col-sm-12">
                    <h5 align="center" class="card-title">Temperature graph</h5>
                    <div class="graph-div">
                        <canvas class="graph-canvas" id="t-graph" width="auto"></canvas>
                        <script type="text/javascript">
                            var ctx = document.getElementById("t-graph").getContext('2d');
                            var tempChart = new Chart(ctx, {
                                // counter: "0",
                                type: 'line',
                                data: {
                                    labels: [],
                                    datasets: [{
                                        label: 'Temperature °C',
                                        fill: false,
                                        data: [],
                                        backgroundColor: [
                                            'rgba(255, 255, 255, 0.2)'
                                        ],
                                        pointBorderColor: [],
                                        borderColor: [
                                            'rgba(0, 123, 255, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                // beginAtZero: true,
                                                suggestedMin: 10,
                                                suggestedMax: 40
                                            },
                                            gridLines: {
                                                drawBorder: false
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-sm-4 control-panel">
            <div class="card-body ">
                <h4 class="card-title" align="center">Control Temperature</h4>
                <a class="btn btn btn-outline-primary col-sm-12" id="spike-temp">Abnormal temperature</a>
                <div style="margin-top: 20px;" class="col-sm-12">
                    <div id="temp-box" class="card">
                        <div class="card-body">
                            <h6 class="card-title">Current temperature</h6>
                            <h6 class="card-text" id="current-temp">Placeholder</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function() {

            setTimeout($('div.to-show').fadeIn(500).removeClass('hidden'), 1000);
        });
        /*---Spiking the stuffs---*/
        $('#spike-ph').click(function () {
            console.log("spike ph click");
            $.ajax({
                type: "POST",
                url: "/api/spikePh",
                success: function (data) {
                    console.log('spiked ph')
                }
            })
        });
        $('#spike-temp').click(function () {
            console.log("spike temp click");
            $.ajax({
                type: "POST",
                url: "/api/spikeTemp",
                success: function (data) {
                    console.log('spiked temp')
                }
            })
        });

        /*---get data every 5 seconds---*/
        function getNextPh() {
            console.log("getting next ph");
            $.ajax({
                url: "/api/nextPh",
                method: "GET",
                success: function (data) {
                    console.log("next ph is " + data);
                    $("#current-ph").text(data);
                    var phColor;
             
                    if (data > 7.5 || data < 6.5) {
                    	$("#ph-box").css('background-color', 'red');
                    	phColor = '#ff0000';
                    }
                    else {
                    	$("#ph-box").css('background-color', 'white');
                        phColor = '#4bb543';
                    }
                    updateChart(phChart, data, phColor);
                }
            })
        }

        getNextPh();
        setInterval(getNextPh, 5000);

        function getNextTemp() {
            console.log("getting next temp");
            $.ajax({
                url: "/api/nextTemp",
                method: "GET",
                success: function (data) {
                    console.log("next temps is " + data);
                    $("#current-temp").text(data);
                    var tColor;
           
                    if (data > 30 || data < 20) {
                    	$("#temp-box").css('background-color', 'red');
                    	tColor = '#ff0000';
                    }
                    else {
                    	$("#temp-box").css('background-color', 'white');
                    	tColor = '#4bb543';
                    }
                    updateChart(tempChart, data, tColor);
                }
            })
        }
        getNextTemp();
        setInterval(getNextTemp, 5000);

        // updating the chart
        function updateChart(chart, data, colorToPush) {
            chart.data.datasets[0].data.push(data);
            chart.data.labels.push("");
            console.log("counter: " + chart.counter);
            if (chart.data.labels.length >= 10) {
                chart.data.datasets[0].data.splice(0, 1);
                chart.data.labels.splice(0, 1);
                chart.data.datasets[0].pointBorderColor.splice(0, 1);
            }
            chart.data.datasets[0].pointBorderColor.push(colorToPush);
            chart.update();

        }
    </script>
</div>
</body>
</html>